<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css">
    <link href="http://fonts.cdnfonts.com/css/virus-43" rel="stylesheet">   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/shoppingcart_1.png" type="image/gif" sizes="16x16">                 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>vuejsTest - save my links</title>
</head>
<body>


<div id="shoppingList">
    <h1>save my links</h1>
<div class="input">
    <form>
        <div class="input">
        <input v-model="newItem" type="text" placeholder="Add name" />
        <input v-model="newLink" type="text" placeholder="Add link" />
    </div>
    <div class="add">
        <button v-on:click="addItem"><i class="fas fa-plus"></i></button>
    </div>
    </form>
</div>

<ul> 
    <li v-for="(item, key) in shoppingList"  v-bind:class="{collected: item.collected}">
        <div class="items">
            <a :href="item.link" target="_blank" >{{item.name}}</a>
        </div>
        <div class="itemRemover">
            <button id="delete" v-on:click="deleteItem(key)"><i class="fas fa-ban"></i></button>
        </div>
    </li>
</ul>
    <div class="clearAll">
        <button v-on:click="clearAll">Clear all</button>
    </div>

</div>



<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="index.js"></script>
</body>
</html>